<view class="page">
  <video id="myVideo" class="vedio" src="{{details.pull_url}}" enable-danmu danmu-btn controls objectFit="cover"></video>
  <scroll-view class="section_scroll" scroll-y="true" bindscrolltoupper="upper" bindscrolltolower="lower" bindscroll="scroll">
    <view class="ztdetail">
      <view class="zticon">
        <image src="../../img/schedule.png" class="icon" />
      </view>
      <view class="ztnewtxt">
        <text>开始时间：{{details.stime_text}}</text>
      </view>
    </view>
    <view class="ztdetail">
      <view class="zticon">
        <image src="../../img/accountBox.png" class="icon" />
      </view>
      <view class="ztnewtxt">
        <text>观看人数：{{details.views}}</text>
      </view>
    </view>
    <view class="ztdetail">
      <image src="{{details.host_avatar}}" class="avatar"></image>
      <text class="text__detail">{{details.host_name}}</text>
    </view>
  </scroll-view>
  <scroll-view class="scroll_horizental" bindscroll="scroll" scroll-x="true">
    <block wx:for="{{details.serial_channels}}" >
      <!--<navigator class="serial_setction" url="../details/details?title={{item.id.$oid}}">-->
      <view class="serial_setction" bindtap="cat" id="{{item.id.$oid}}">
        <view class="serial_text_content">
          <text class="serial_title">{{item.name}}</text>
        </view>
        <view class="serial_image_content">
          <image class="image_horizental" mode="aspectFill" src="{{item.pic}}"></image>
        </view>
      </view>
      <!--</navigator>-->
    </block>
  </scroll-view>
  <scroll-view class="section_scroll2" scroll-y="true" bindscrolltoupper="upper" bindscrolltolower="lower" bindscroll="scroll">
    <view class="ztintr">
      <view class="ztintr_in">
        <text class="course__introduction">{{course_introd}}</text>
      </view>
      <view class="ztintr_in2">
        <text class="text__introduction">{{details.desc}}</text>
      </view>
    </view>
  </scroll-view>

  <!--免费课程-->
  <block wx:if="{{details.price == null }}">
    <view class="linearlayout">
      <text class="price">免费</text>
      <view wx:if="{{details.state == 0}}">
        <text wx:if="{{details.following == true}}" class="look_status">预约成功</text>
        <text wx:else class="look_status" bindtap="follow">报名预约</text>
      </view>
      <view wx:elif="{{details.state == 1}}">
        <text class="look_status">点击观看</text>
      </view>
      <view wx:elif="{{details.state == 2 }}">
        <view wx:if="{{details.recorded}}">
          <text class="look_status">观看回放</text>
        </view>
        <view wx:else>
          <text class="look_status" bindtap="history">观看回放</text>
        </view>
      </view>
    </view>
  </block>

  <!--收费课程 已登录-->
  <block wx:elif="{{email}}">
    <view class="linearlayout">
      <text class="price">课程价格:{{details.price}}元</text>
      <block wx:if="{{details.purchased == true}}">
        <view>
          <text class="buy_status">已经购买</text>
        </view>
      </block>
      <block wx:else>
        <navigator url="../order/order?price={{details.price}}&host_name={{details.host_name}}&name={{details.name}}&host_avatar={{details.host_avatar}}&id={{details.id.$oid}}">
          <text class="buy_status">去购买</text>
        </navigator>
      </block>
    </view>
  </block>

  <!--收费课程 未登录-->
  <block wx:else>
    <view class="linearlayout">
      <text class="price">课程价格:{{details.price}}元</text>
      <navigator url="../login/login?request=details&detailsurl={{url}}">
        <text class="buy_status">去购买</text>
      </navigator>
    </view>
  </block>
</view>