.page {
  background: #fff;
  padding: 0px;
  position: relative;
  background: #fff;
}

text, view, img {
  margin: 0;
  padding: 0;
  border: 0;
}

text {
  font-family: arial, sans-serif;
}

.section_scroll {
  background: #fff;
  margin-top: 0rpx;
  margin-bottom: 20rpx;
}

.section_scroll2 {
  background: #fff;
  margin-top: 0rpx;
  margin-bottom: 110rpx;
}

.zttitle {
  width: 88%;
  margin: 0 auto 30rpx 0;
  text-align: center;
}

.zticon {
  width: 40rpx;
  height: 40rpx;
  float: left;
  margin-right: 20rpx;
}

.ztnewtxt {
  float: left;
}

.text__title {
  font-size: 1em;
  line-height: 1.3em;
  font-weight: bold;
  color: #ff8162;
}

.vedio {
  height: 300px;
  width: 100%;
  margin-bottom: 30rpx;
  margin-top: 30rpx;
}

.ztdetail {
  width: 92%;
  margin: 0 auto 20rpx;
  text-align: left;
  overflow: hidden;
}

.ztdetail text {
  font-weight: lighter;
  color: #595968;
  font-size: 0.9em;
}

.ztintr {
  width: 100%;
  background: #f9f9f9;
  padding: 40rpx 0;
}

.ztintr_in {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.ztintr_in2 {
  padding-left: 15rpx;
  padding-right: 15rpx;
  overflow: hidden;
  margin-top: 8rpx;
  text-align: left;
}

.text__introduction {
  color: #4D4D4D;
  width: 100%;
  line-height: 1.2em;
  font-size: 0.9em;
}

.avatar {
  margin-top: 30rpx;
  width: 80rpx;
  height: 80rpx;
}

.text__detail {
  margin-left: 15rpx;
}

.scroll_horizental {
  background: #fff;
  width: 100%;
  white-space: nowrap;
  display: flex;
  margin-bottom: 30rpx;
}

.zttj {
  width: 300rpx;
  height: 300rpx;
  display: inline-block;
  margin: 0 1% 1% 1%;
}

.serial_setction {
  width: 320rpx;
  height: 300rpx;
  display: inline-block;
  margin: 0 1% 1% 1%;
}

.serial_image_content {
  margin-top: 15rpx;
  text-align: center;
}

.image_horizental {
  margin-top: 15rpx;
  width: 320rpx;
  height: 200rpx;
}

.serial_text_content {
  margin-top: 15rpx;
  text-align: center;
}

.serial_title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #595968;
  font-size: 0.8em;
}

.linearlayout {
  height: 110rpx;
  line-height: 110rpx;
  width: 100%;
  position: fixed;
  background: #fff;
  bottom: 0px;
  overflow: hidden;
}

.price {
  width: 60%;
  color: #ff8162;
  float: left;
  background: #fff;
  text-align: center;
}

.buy_status {
  width: 40%;
  display: block;
  text-align: center;
  height: 110rpx;
  float: right;
  color: #fff;
  background: #FD8B5B;
}
/*.look_status_parent {
  width: 40%;
  display: block;
  text-align: center;
  height: 110rpx;
  float: right;
  color: #fff;
  background: #f3a636;
}*/


.look_status {
  width: 40%;
  display: block;
  text-align: center;
  height: 110rpx;
  float: right;
  color: #fff;
  background: #f3a636;
}

.icon {
  width: 40rpx;
  height: 40rpx;
}
