<view class="page">
  <view class="img_view">
    <image class="img" src="../../img/logoline.png"></image>
  </view>
  <view class="text_view1">
    <text class="text1">瑜伽柠檬 - 最有品质的瑜伽App</text>
  </view>
  <view class="img_view">
    <image class="img2" src="../../img/coupon.png"></image>
  </view>
  <view wx:if="{{share}}" class="text_view2">
    <text class="textblue">{{inviter}}</text>
    <text class="text2">邀请你加入瑜伽柠檬大家庭, 你已经获得了5元现金红包</text>
  </view>
  <view wx:else class="text_view2">
    <view wx:if="{{uname}}">
      <text class="textblue">{{uname}}</text>
      <text class="text2">邀请你加入瑜伽柠檬大家庭, 你已经获得了5元现金红包</text>
    </view>
    <view wx:elif="{{nickName}}">
      <text class="textblue">{{nickName}}</text>
      <text class="text2">邀请你加入瑜伽柠檬大家庭, 你已经获得了5元现金红包</text>
    </view>
  </view>
  <view class="textarea_view">
    <input class="textarea" placeholder="请输入手机号" placeholder-class="placestyle" name="phone" bindinput="phoneInput" />
  </view>
  <button class="text_view3" bindtap="getRed"> 立即领取 </button>
  <modal wx:if="{{!share}}" hidden="{{hidden}}" title="邀请好友加入　赢取双向奖励" confirm-text="点击右上角分享给好友" bindconfirm="confirm" no-cancel="true">
    <text class="n">1. 你的好友会获得5元现金抵用券\n2. 每邀请一个好友注册, 你可获得额外２天的视频观看有效期\n3. 你还会获得5元优惠券, 如果好友购买了大于30元的任何收费视频 </text>
  </modal>
  <modal hidden="{{hiddenred}}" title="红包领取成功~" confirm-text="去使用" bindconfirm="confirmred" no-cancel="true">
    现在使用红包
  </modal>
  <view class="text_view4">
    <text class="text4">活动规则</text>
  </view>
  <view class="text_view5">
    <text class="text5">1. 只发放给未注册的新用户, 已注册用户无法获得 (已注册用户包括了之前授权过公众号和通过微信登录过瑜伽柠檬App而产生的用户)</text>
  </view>
  <view class="text_view6">
    <text class="text6">2. 目前只能在微信小程序上使用消费现金券
    </text>
  </view>
</view>