/**index.wxss**/

text, view, img {
  margin: 0;
  padding: 0;
  border: 0;
}

text {
  font-family: arial, sans-serif;
}

.page {
  background: #f9f9f9;
  padding: 0px;
}

.swiper {
  width: 100%;
  padding: 0;
  margin: 0 auto 0 0;
}

.slide-image {
  width: 100%;
}

.section_scroll {
  position: relative;
  background: #fff;
  padding-top: 40rpx;
}

.section__ctn {
  width: 95%;
  height: 250rpx;
  margin: 0 auto 50rpx auto;
  background: #fff;
  overflow: hidden;
  
}

.img_content {
  width: 400rpx;
  height: 100%;
  float: left;
}

.section__image {
  width: 368rpx;
  height: 230rpx;
}

.text_content {
  width:280rpx;
  margin-left: 30rpx;
  height: 250rpx;
  position: relative;
  display: inline-block;  
}

.text__title {
  width: 100%;
  height: 135rpx;
  color: #72727f;
  font-size: 0.9em;
  line-height: 45rpx;
  display: block;
  overflow: hidden;
  word-wrap: break-word;
}

.text__detail {
  font-weight: lighter;
  color: #999999;
  font-size: 0.8em;
  display: block;
  margin-bottom: 10rpx;
}

.text__validate {
  font-weight: lighter;
  color: #ff8162;
  font-size: 0.8em;
  display: inline-block;
  min-inline-size: 1;
}

@media (min-device-width:375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio : 2) {
  .text__title {
    line-height: 1.4em;
  }
}

@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3) {
  .text__title {
    line-height: 1.3em;
  }
}


.text_view{
  text-align: center;
  background: #fff;
  margin-top: 500rpx;
}
.text_child{
  text-align: center;
  color: #72727f;

}